<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spada.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="IconPackGenerator_Theme"
            android:value="true" />
        <meta-data
            android:name="IconPackGenerator_Theme_Name"
            android:value="PUT YOUR THEME'S NAME HERE" />
        <meta-data
            android:name="IconPackGenerator_Theme_Author"
            android:value="PUT YOUR DEVELOPER NAME HERE" />


    </application>


</manifest>
